<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="">

<header th:replace="admin/layout::header">
</header>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left_nav -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <th:block th:insert="admin/layout::nav-title"></th:block>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div th:replace="admin/layout::admin"></div>
                </div>
            </div>
        </div>

        <div th:replace="admin/layout::top_nav"></div>
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_content">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary" onclick="users.addNew()">
                                Thêm mới
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table id="datatables" class="table table-striped jambo_table bulk_action">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal" id="modalAddEdit" name="modalAddEdit">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle"></h4>
                        <button type="button" class="close" onclick="users.resetForm()" data-dismiss="modal"
                                aria-label="Close">&times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="formAddEdit" th:name="formAddEdit">
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" type="email"
                                           name="email" id="email"
                                           data-rule-required=true>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Mật khẩu</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" type="password"
                                           name="password" id="password"
                                           data-rule-required=true>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Xác nhận mật khẩu</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" type="password"
                                           name="confirm_password" id="confirm_password"
                                           data-rule-required=true>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Chức vụ</label>
                                </div>
                                <div class="col-9">
                                    <select name="role" id="role" class="form-control" data-rule-required=true>
                                        <option value="">Chọn Chức vụ</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="EMPLOYEE">Nhân viên</option>
                                        <option value="SHOP_OWNER">Chủ Cửa hàng</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Cửa hàng</label>
                                </div>
                                <div class="col-9">
                                    <select name="shop" id="shop" class="form-control">
                                    </select>
                                </div>
                            </div>

                        </form>
                        <div id="message">
                            <h6>Mật khẩu phải bao gồm:</h6>
                            <p id="letter" class="invalid">1 chữ cái <b>in Thường</b></p>
                            <p id="capital" class="invalid">1 chữ cái <b>in Hoa</b></p>
                            <p id="number" class="invalid">1 <b>chữ số</b></p>
                            <p id="length" class="invalid">Ít nhất <b>8 ký tự</b></p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a href="javascript:" class="btn btn-primary"
                           onclick="users.save()">Lưu</a>

                        <button type="button" class="btn btn-danger" onclick="users.resetForm()"
                                data-dismiss="modal"
                                aria-label="Close">
                            Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="admin/layout::footer"></footer>
    </div>

    <div th:insert="admin/layout::block-script">

    </div>
    <script src="/admin/build/js/admin/user.js"></script>
</div>
</body>
</html>
