<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="">

<head th:replace="admin/layout :: header">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left_nav -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <th:block th:replace="admin/layout :: nav-title">
                </th:block>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section" th:replace="admin/layout :: user">
                    </div>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav" th:replace="admin/layout :: top_nav">
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_content">
                        <h5>Danh sách đặt hàng</h5>
                        <div class="table-responsive">
                            <table id="datatables" class="table table-striped jambo_table bulk_action">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="admin/layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

<th:block th:replace="admin/layout :: block-script"></th:block>

<th:block th:replace="admin/layout :: block-dataTable"></th:block>

<script src="/admin/build/js/user/supplier.js"></script>
<script src="/admin/build/js/user/product.js"></script>
<script src="/admin/build/js/user/warehouse.js"></script>
<script src="/admin/build/js/user/order.js"></script>
<script src="/admin/build/js/user/order_detail.js"></script>

<script>
    $(document).ready(function () {
        order_details.init();
    });
</script>

</body>
</html>

