<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="">

<head th:replace="admin/layout :: header">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left_nav -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <th:block th:replace="admin/layout :: nav-title">
                </th:block>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section" th:replace="admin/layout :: user">
                    </div>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav" th:replace="admin/layout :: top_nav">
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_content">
                        <div class="row mb-3" style="display: flex; align-items: center">
                            <div class="col-md-6 col-sm-6" style="text-align: left">
                                <h3>Sản phẩm</h3>
                            </div>
                            <div class="col-md-6 col-sm-6" style="text-align: right">
                                <button type="button" class="btn-sm btn-primary" onclick="products.addNew()">
                                    Thêm sản phẩm
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="datatables" class="table table-striped jambo_table bulk_action">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="admin/layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!--Modal-->
<div class="modal" id="modalAddEdit">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="products.resetForm()" aria-label="Close">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="formAddEdit" th:name="formAddEdit">
                    <div class="row form-group">
                        <div class="col-8 form-group">
                        <input type="hidden" name="id" id="id" class="form-control" required>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Tên sản phẩm</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="name" name="name" class="form-control" required>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Nhóm sản phẩm</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" id="product_type" name="product_type">
                                </select>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Giá bán</label>
                            </div>
                            <div class="col-9">
                                <input type="number" id="current_price" name="current_price" class="form-control" required>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Giá nhập</label>
                            </div>
                            <div class="col-9">
                                <input type="number" id="current_prime_cost" name="current_prime_cost" class="form-control" required>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Nhãn hiệu</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="brand" name="brand" class="form-control">
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Tồn kho</label>
                            </div>
                            <div class="col-9">
                                <input type="number" id="stock" name="stock" class="form-control">
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Đơn vị tính</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="unit" name="unit" class="form-control" required>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Mã vạch</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="barcode" name="barcode" class="form-control">
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                        </div>
                    </div>
                        <div class="col-4 form-group">
                            <div class="row form-group" style="height: 25%">
                                <div class="col-3">
                                    <label>Mô tả</label>
                                </div>
                                <div class="col-9">
                                    <textarea type="text" id="description" name="description" class="form-control"></textarea>
                                    <p style="color: red;display: none" class="ui-state-error-text"></p>
                                </div>
                            </div>
                            <div class="row form-group" style="height: 75%">
                                <div class="col-3">
                                    <label>Hình ảnh</label>
                                </div>
                                <div class="col-9">
                                    <div class="row form-group">
                                        <div class="col-12">
                                            <img src="" id="imageSrc" alt="image"
                                                 style="width: 240px; height:240px; object-fit:cover;">
                                        </div>
                                    </div>
                                    <form th:name="formUpload" enctype="multipart/form-data">
                                        <div class="mt-2" style="text-align: right">
                                            <input type="hidden" name="product_id" id="product_id" class="form-control" required>
                                            <input type="file" name="file" id="image" style="overflow:hidden; ">
                                        </div>
                                    </form>
                                    <p style="color: red;display: none" class="ui-state-error-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a class="btn btn-primary" onclick="products.save()">Lưu</a>
                        <button type="button" class="btn btn-danger" onclick="products.resetForm()" data-dismiss="modal" aria-label="Close">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="admin/layout :: block-script"></th:block>

<th:block th:replace="admin/layout :: block-dataTable"></th:block>

<script src="/admin/build/js/user/product_type.js"></script>
<script src="/admin/build/js/user/order_detail.js"></script>
<script src="/admin/build/js/user/product.js"></script>
<script>
    $(document).ready(function () {
        products.init();
    });
</script>

</body>
</html>

