<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="">

<head th:replace="admin/layout :: header">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left_nav -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <th:block th:replace="admin/layout :: nav-title">
                </th:block>
                <hr style="height: 2px">
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section" th:replace="admin/layout :: user">
                    </div>
                </div>
                <hr>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav" th:replace="admin/layout :: top_nav">
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <a href="/admin/settings">
                                    <i class="fas fa-angle-left"></i>
                                    <span>Cấu hình</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3" style="display: flex; align-items: center">
                            <div class="col-md-6 col-sm-6" style="text-align: left">
                                <h3>Quản lý kho</h3>
                            </div>
                            <div class="col-md-6 col-sm-6" style="text-align: right">
                                <button type="button" class="btn-sm btn-success" onclick="warehouses.addNew()">
                                    Thêm mới
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="datatables" class="table table-striped jambo_table bulk_action">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="admin/layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!--Modal-->
<div class="modal" id="modalAddEdit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="warehouses.resetForm()" aria-label="Close">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="formAddEdit" th:name="formAddEdit">
                    <input type="hidden" name="id" id="id" class="form-control" required>
                    <input type="hidden" name="deleted" id="deleted" class="form-control" required>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Tên kho</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="name" name="name" class="form-control" required>
                            <p style="color: red;display: none" class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Mô tả</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="description" name="description" class="form-control" required>
                            <p style="color: red;display: none" class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a class="btn btn-primary" onclick="warehouses.save()">Lưu</a>
                        <button type="button" class="btn btn-danger" onclick="warehouses.resetForm()" data-dismiss="modal" aria-label="Close">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="admin/layout :: block-script"></th:block>

<th:block th:replace="admin/layout :: block-dataTable"></th:block>

<script src="/admin/build/js/user/warehouse.js"></script>
<script>
    $(document).ready(function () {
        warehouses.init();
    });
</script>

</body>
</html>

