<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="">

<header th:replace="admin/layout::header">
</header>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left_nav -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <th:block th:insert="admin/layout::nav-title"></th:block>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div th:replace="admin/layout::admin"></div>
                </div>
            </div>
        </div>

        <div th:replace="admin/layout::top_nav"></div>
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_content">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary" onclick="shops.addNew()">
                                Thêm mới
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table id="datatables" class="table table-striped jambo_table bulk_action">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="admin/layout::footer"></footer>
    </div>
    <!-- The Modal -->
    <div class="modal" id="modalAddEdit" name="modalAddEdit">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                    <button type="button" class="close" onclick="shops.resetForm()" data-dismiss="modal"
                            aria-label="Close">&times;
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="formAddEdit" th:name="formAddEdit">
                        <input hidden name="id" id="id">
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Tên Cửa hàng</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text"
                                       name="shop_name" id="shop_name"
                                       data-rule-required=true>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Số điện thoại</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text"
                                       name="phone" id="phone"
                                       data-rule-required=true>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Email</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text"
                                       name="email" id="email"
                                       data-rule-required=true>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Địa chỉ</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text"
                                       name="address" id="address"
                                       data-rule-required=true>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Tỉnh thành</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" id="province" name="province">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Mặt hàng kinh doanh</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" id="lineOfBusiness" name="lineOfBusiness">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="javascript:" class="btn btn-primary"
                       onclick="shops.save()">Lưu</a>

                    <button type="button" class="btn btn-danger" onclick="shops.resetForm()"
                            data-dismiss="modal"
                            aria-label="Close">
                        Đóng
                    </button>
                    `
                </div>
            </div>
        </div>
    </div>
    <div th:insert="admin/layout::block-script">

    </div>
    <script src="/admin/build/js/admin/shop.js"></script>
</div>
</body>
</html>
