<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="">

<header th:replace="admin/layout::header">
</header>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left_nav -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <th:block th:insert="admin/layout::nav-title"></th:block>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div th:replace="admin/layout::user"></div>
                </div>
            </div>
        </div>

        <div th:replace="admin/layout::top_nav"></div>
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_content" style="background-color: #ffffff; color: #3c3c3c; padding-top: 1em">
                        <div class="title-div mb-3">
                            Thông tin Cửa hàng
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center" style="height: 52vh;">
                                <img th:src="@{${shop.logo}}" alt="logo" style="max-width:100%; max-height:100%; object-fit:cover;">
                            </div>

                            <div class="col-md-8 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h6>Tên Cửa hàng</h6>
                                        <div class="info-detail" th:text="${shop.shop_name}"></div>
                                        <h6>Số điện thoại</h6>
                                        <div class="info-detail" th:text="${shop.phone}"></div>
                                        <h6>Địa chỉ</h6>
                                        <div class="info-detail" th:text="${shop.address}"></div>
                                        <h6>Email</h6>
                                        <div class="info-detail" th:text="${shop.email}"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <h6>Ngày Tham gia</h6>
                                        <div class="info-detail"
                                             th:text="${#temporals.format(shop.created_at,'dd/MM/yyyy HH:mm:ss')}"></div>
                                        <h6>Tỉnh thành</h6>
                                        <div class="info-detail" th:text="${shop.province.name}"></div>
                                        <h6>Mặt hàng kinh doanh</h6>
                                        <div class="info-detail" th:text="${shop.lineOfBusiness.name}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="admin/layout::footer"></footer>
    </div>
    <div th:insert="admin/layout::block-script">

    </div>
</div>
</body>
</html>
